.CleanLink {
	text-decoration: none;
	text-decoration-line: none;
}

.ButtonLink {
	width: 8rem;
	line-height: 3rem;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #afafaf;
	text-align: center;
	vertical-align: middle;
	font-size: large;
	font-weight: bold;
}
