.LogIn {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 22rem;
	height: 22rem;
	justify-content: space-around;
	align-items: center;
	background-color: aliceblue;
	border-radius: 20px;
	border: 1px solid #000;
}
